body {
    font-family: Arial, sans-serif;
}
.link-bre a{
    color: black;
    text-decoration: none; 
}

.link-bre a:hover{color: #dc3545;}
.contain {
    display: flex;
    
}

.sidebar {
    width: 250px;
    padding: 20px 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.content { 
    background: #fff; 
    width: calc(50% - 100px); 
    margin: 0 auto; 
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%); 
    border-radius: .125rem; 
    padding: 40px; 

}

.content h2 {
    margin-bottom: 30px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;

}

.form-group {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    display: flex;
}

.form-group label {
    width: 20%; 
    color: rgba(85, 85, 85, .8);
    font-size: 14px;
    margin-top: 10px;
}

.form-group input {
    
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #c82333;
}


