<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta charset="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/Css/about.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    </head>
<body>

    <div class="link-bre">
        <a href="{{ route('home') }}">Home</a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <a href="#">About</a>
    </div>

    <div clas="main">
        <div class="container">
            <div class="content-section">
                <div class="tittle">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Introducing T2M</h3>
                    <p>T2M is a brand born from a gamer's dream, developed by a collective of gamers to serve the Vietnamese gaming community.

                        T2M's consulting team is not simply a sales staff, we are also game lovers with the desire to help people with similar interests get the right rig and gear.</p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="/public/images/manh.jpg">
            </div>
        </div>
    </div>
</body>
</html>