<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="./a.css">
</head>
<body>
    <main>
        <div class="top">
            <p>1-16 of over 50,000 results for <b>"pc gaming"</b></p>
            <div class="sort">
                <select name="sort-by" id="sort-by">
                    <option value="">Featured</option>
                    <option value="">Price: Low to High</option>
                    <option value="">Price: High to Low</option>
                    <option value="">Newest Arrivals</option>
                </select>
            </div>
        </div>
        <div class="section">
            <div class="left">
                <div class="category">
                    <h3>Category</h3>
                    <p>laptop</p>
                    <p>pc</p>
                    <p>đòng hồ</p>
                    <p>phone</p>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <h2 class="list-title">Product List</h2>
                    <p>Read the specifications carefully to find the right product.</p>
                </div>
                <div class="product-list">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="/public/images/img/17e8978cb6c3ddfc1a94cc1622ef5142-1.png" alt="Product 1">
                        </div>
                        <div class="product-details">
                            <h2 class="product-title">ASUS TUF Gaming A15 (2024) Gaming Laptop, 15.6” FHD 144Hz Display, NVIDIA® GeForce RTX™ 2050, AMD Ryzen™ 5 7535HS, 8GB DDR5, 512GB PCIe® Gen4 NVMe™ SSD</h2>
                            <div class="product-rating">
                                <span class="stars">★★★★☆</span>
                                <span class="rating-count">(542)</span>
                            </div>
                            <p class="product-info">1K+ bought in past month</p>
                            <div class="product-price">
                                <span class="current-price">$629.99</span>
                                <span class="old-price">$699.99</span>
                            </div>
                            <p class="delivery-info">Delivery <strong>Wed, Aug 14</strong><br>Ships to Vietnam</p>
                            <button class="add-to-cart">Add to cart</button>
                        </div>
    
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="/public/images/img/17e8978cb6c3ddfc1a94cc1622ef5142-1.png" alt="Product 1">
                        </div>
                        <div class="product-details">
                            <h2 class="product-title">ASUS TUF Gaming A15 (2024) Gaming Laptop, 15.6” FHD 144Hz Display, NVIDIA® GeForce RTX™ 2050, AMD Ryzen™ 5 7535HS, 8GB DDR5, 512GB PCIe® Gen4 NVMe™ SSD</h2>
                            <div class="product-rating">
                                <span class="stars">★★★★☆</span>
                                <span class="rating-count">(542)</span>
                            </div>
                            <p class="product-info">1K+ bought in past month</p>
                            <div class="product-price">
                                <span class="current-price">$629.99</span>
                                <span class="old-price">$699.99</span>
                            </div>
                            <p class="delivery-info">Delivery <strong>Wed, Aug 14</strong><br>Ships to Vietnam</p>
                            <button class="add-to-cart">Add to cart</button>
                        </div>
    
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="/public/images/img/17e8978cb6c3ddfc1a94cc1622ef5142-1.png" alt="Product 1">
                        </div>
                        <div class="product-details">
                            <h2 class="product-title">ASUS TUF Gaming A15 (2024) Gaming Laptop, 15.6” FHD 144Hz Display, NVIDIA® GeForce RTX™ 2050, AMD Ryzen™ 5 7535HS, 8GB DDR5, 512GB PCIe® Gen4 NVMe™ SSD</h2>
                            <div class="product-rating">
                                <span class="stars">★★★★☆</span>
                                <span class="rating-count">(542)</span>
                            </div>
                            <p class="product-info">1K+ bought in past month</p>
                            <div class="product-price">
                                <span class="current-price">$629.99</span>
                                <span class="old-price">$699.99</span>
                            </div>
                            <p class="delivery-info">Delivery <strong>Wed, Aug 14</strong><br>Ships to Vietnam</p>
                            <button class="add-to-cart">Add to cart</button>
                        </div>
    
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="/public/images/img/17e8978cb6c3ddfc1a94cc1622ef5142-1.png" alt="Product 1">
                        </div>
                        <div class="product-details">
                            <h2 class="product-title">ASUS TUF Gaming A15 (2024) Gaming Laptop, 15.6” FHD 144Hz Display, NVIDIA® GeForce RTX™ 2050, AMD Ryzen™ 5 7535HS, 8GB DDR5, 512GB PCIe® Gen4 NVMe™ SSD</h2>
                            <div class="product-rating">
                                <span class="stars">★★★★☆</span>
                                <span class="rating-count">(542)</span>
                            </div>
                            <p class="product-info">1K+ bought in past month</p>
                            <div class="product-price">
                                <span class="current-price">$629.99</span>
                                <span class="old-price">$699.99</span>
                            </div>
                            <p class="delivery-info">Delivery <strong>Wed, Aug 14</strong><br>Ships to Vietnam</p>
                            <button class="add-to-cart">Add to cart</button>
                        </div>
    
                    </div>
                    <div class="pagination"></div>
                </div>
                <div class="help-contact">
                    <h2>Do you need help?</h2>
                    <p>Please contact us to get help as soon as possible.</p>
                </div>
                <div class="img-orther">
                    <img src="/public/images/Screenshot 2024-07-31 165828.png" alt="">
                </div>
                <div class="view-orther">
                    <h2>Maybe you are interested!!!</h2>
                    <div class="product-view">
                        <div class="card">
                            <div class="img-top">
                                <img src="/public/images/img/image-30-2.png" alt="">
                            </div>
                            <div class="img-bottom">
                                <img src="/public/images/img/image-33-3.png" alt="">
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-top">
                                <img src="/public/images/img/image-30-2.png" alt="">
                            </div>
                            <div class="img-bottom">
                                <img src="/public/images/img/image-33-3.png" alt="">
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-top">
                                <img src="/public/images/img/image-30-2.png" alt="">
                            </div>
                            <div class="img-bottom">
                                <img src="/public/images/img/image-33-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>