<div class="desktop">
  <div class="main">
    <div class="paginao">
      <div class="text-wrapper-47">1</div>
      <div class="text-wrapper-48">2</div>
      <div class="text-wrapper-49">3</div>
      <div class="text-wrapper-50">4</div>
      <div class="text-wrapper-51">5</div>
      <div class="text-wrapper-52">6</div>
      <div class="text-wrapper-53">7</div>
      <div class="text-wrapper-54">8</div>
      <div class="text-wrapper-55">&gt;</div>
      <div class="text-wrapper-56">&gt;&gt;</div>
    </div>
    <div class="products">
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/erick-cerritos-i5uv2hpitya-unsplash-1-1.png') }}" />
        <p class="text-wrapper-60">Notebook Dell Inspiron 15 3000 <br />Intel Core i7 16GB</p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 440,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/c9321e4404c2099b50212fa9595e59c2-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Lenovo V15 Intel Core i5-1135G7, 8GB RAM, SSD 256GB, 15.6 Full HD, Windows 11 Pro, Preto -
          82ME000EBR
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 360,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/ade0f509def937deea8cb1a8e7e44503-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Lenovo Thinkpad L14 <br />G1 AMD Ryzen 3 Pro 4450u, 8GB <br />RAM, SSD 256GB M.2, Tela 14
          <br />Polegadas, LED, Freedos - 20u6s4ks00
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 260,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/7b6f6c1e1eb9186a4167fafb9f02312e-1.png') }}" />
        <p class="text-wrapper-60">Macbook Air M1 8GB, 256GB SSD, <br />Tela 13.3&#34;, Gold, 2020 - MGND3LL/A</p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 550,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/17e8978cb6c3ddfc1a94cc1622ef5142-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Lenovo Ideapad 1i Celeron + Microsoft 365 Personal, 4GB, 128GB SSD, W11, 15.6 Polegadas,
          82vx0001br, Prata
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 200,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/284bf64a5cf63ab792770437e41c13c3-1.png') }}" />
        <p class="text-wrapper-60">
          HP Notebook, Intel Core i3-7100U Processor 2.4 GHz, <br />8GB Memory, 2TB Hard Drive, Optical Drive, HD
          Webcam, Backlit Keyboard, Windows 10 Home, Pale Mint
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 250,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/webfactory-ltd-b0tawaqubza-unsplash-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Asus Ryzen 5-3500U, <br />8GB RAM, SSD 256GB, 15,6&#39;, Radeon Vega 8, Linux, Cinza -
          M515DA-BR1213
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 290,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/erick-cerritos-i5uv2hpitya-unsplash-1-1.png') }}" />
        <p class="text-wrapper-60">Notebook Dell Inspiron 15 3000 <br />Intel Core i5 8GB</p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 320,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/c9321e4404c2099b50212fa9595e59c2-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Lenovo V15 Intel Core i5-1135G7, 8GB RAM, SSD 256GB, 15.6 Full HD, Windows 11 Pro, Preto -
          82ME000EBR
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 360,00 sem juros</p>
      </div>
      <div class="div-58">
        <img class="img-8" src="{{ asset('images/img/c9321e4404c2099b50212fa9595e59c2-1.png') }}" />
        <p class="text-wrapper-60">
          Notebook Lenovo V15 Intel Core i5-1135G7, 8GB RAM, SSD 256GB, 15.6 Full HD, Windows 11 Pro, Preto -
          82ME000EBR
        </p>
        <div class="price-container">
          <div class="text-wrapper-57">R$ 4.069,10</div>
          <div class="text-wrapper-58">À vista</div>
        </div>
        <p class="text-wrapper-59">ou em até 10x de R$ 360,00 sem juros</p>
      </div>
    </div>
  </div>
  <div class="menu">
      <div class="text-wrapper-68">ALL</div>
      <div class="text-wrapper-68">CAMERA</div>
      <div class="text-wrapper-68">CONSOLE</div>
      <div class="text-wrapper-68">MONITOR</div>
      <div class="text-wrapper-68">NOTEBOOK</div>
  </div>
</div>

<style>
  /* product */
.frame .desktop {
  position: absolute;
  width: 100%;
  height: auto;
  top: 3530px;
  left: 43px;
  background-color: #ffffff;
}

.frame .main {
  position: absolute;
  width: 1440px;
  height: 680px;
  top: 22px;
  left: 0;
  background-color: #ffffff;
}

.frame .paginao {
  position: absolute;
  width: 548px;
  height: 28px;
  top: 635px;
  left: 439px;
}

.frame .menu {
  position: relative;
  width: 100%;
  height: 50px;
  top: 0;
  /* left: 34px; */
  background-color: #fffffffe;
  display: flex;
  flex-wrap: nowrap; 
  gap: 20px; 
  justify-content: center; 
  align-items: center;
  padding: 0 10px; 
}

.frame .text-wrapper-68 {
  position: relative; 
  font-family: "Work Sans", Helvetica;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: normal;
  color: #000000;
  letter-spacing: 0;
  white-space: nowrap;
}


.frame .text-wrapper-47 {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 138px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-48 {
  left: 174px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-49 {
  left: 210px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-50 {
  left: 246px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-51 {
  left: 282px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-52 {
  left: 318px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-53 {
  left: 354px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-54 {
  left: 390px;
  position: absolute;
  width: 20px;
  top: 5px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-55 {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 426px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-56 {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 450px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* .frame .div-51 {
  position: absolute;
  width: 250px;
  height: 269px;
  top: 356px;
  left: 1090px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
} */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.frame .div-58 {
  position: relative;
  width: 250px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
  padding: 10px; 
  margin-top: 20px; 
}

.frame .img-8 {
  width: 100%;
  height: 167px;
  object-fit: cover;
  margin-bottom: 10px; 
}

.frame .text-wrapper-60 {
  width: 100%;
  margin-bottom: 10px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .price-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.frame .text-wrapper-57 {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #000000;
  letter-spacing: 0;
}

.frame .text-wrapper-58 {
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
}

.frame .text-wrapper-59 {
  width: 100%;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #656262;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

</style>