<div class="form-group">
    <i class="fa-regular fa-user icon"></i>
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
  </div>
  <style>
    .form-group {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px; /* Khoảng cách từ bên trái */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Đảm bảo rằng biểu tượng không can thiệp vào nhập liệu */
  color: #999; /* Màu sắc biểu tượng, có thể thay đổi tùy ý */
}

.form-control {
  padding-left: 30px; /* Tạo khoảng trống cho biểu tượng bên trong input */
}

  </style>
      <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />