* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {  
    
    background: #fff;  
    color: #333;  
    
}  
main .about {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    display: flex;
}

main .about-text{
    padding: 20px;
}

main h1 {
    font-size: 28px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.8;
    color: #000;
    margin-top: 15px;
}

main .founder {
    margin-top: 30px;
    padding: 30px;
    background-color: #f9f9f9;
    border-left: 5px solid #ff6f61;
    font-style: italic;
    color: #000;
    border-radius: 5px;
}

main .author {
    
    align-items: center;
    margin-top: 30px;
    width: 50%;
    
}

main .author img {
    border-radius: 50%;
    width: 450px;
    margin-bottom: 40px;
    margin-right: 25px;
    transition: transform 0.2s;
    
}

main .author img:hover {
    transform: scale(1.55);
}

main .info {
    font-size: 18px;
    text-align: center;
}

main .info h3 {
    margin: 0;
    font-size: 20px;
    color: #ff6f61;
    margin-bottom: 5px;
    
}

main .info p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #7f8c8d;
}

@media (max-width: 1000px) { 
    main .author img {
        width: 100%;
    }
 }
